.home-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #5a4b81;
}

.logo {
  width: 50px;
}

.header h1 {
  color: white;
  font-size: 2em;
}

.auth-button {
  background-color: #4e4273;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 40%; /* Ajuste del tamaño del buscador */
  margin-right: 10px;
}

.style-selector, .parameter-selector {
  margin-right: 10px;
}

.generate-button {
  background-color: #5a4b81;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.image-container {
  margin-top: 20px;
  max-width: 450px; /* Ajustar según necesidad */
  text-align: center; /* Centrar la imagen */
  margin: auto;
}

.generated-image {
  width: 100%;
  border-radius: 20px;
}
